<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>schedule</mat-icon>
</button>
<mat-menu #menu="matMenu" class="menu">
  <form class="offsets" *ngIf="clock" (click)="$event.stopPropagation()">
    <mat-form-field appearance="fill" class="offset">
      <mat-label>{{clock.name}} clock offset timing</mat-label>
      <input matInput type="number" placeholder="0" value="0" (change)="setOffset(clock, $event)">
      <span matSuffix>ms</span>
    </mat-form-field>
  </form>
</mat-menu>
